{% extends 'base.html' %}
{% block content %}

<style>
    body{
        background-color: black;
    }
</style>

<div class="container">
    <div class="row">
        <div class="bg-dark text-white">

            <h2>{{ question.title }}</h2>
            <p>{{ question.body }}</p>
            {% if user == question.user %}
                <a href="{% url 'quora:delete_question' question.pk %}" class="text-danger me-2" title="Delete Question">
                    <i class="bi bi-trash-fill"></i>
                </a>
            {% else %}
                <a href="{% url 'quora:pass_question' question.pk %}" class="btn btn-warning btn-sm">Pass</a>
                <a href="{% url 'quora:report_question' question.pk %}" class="btn btn-danger btn-sm">Report</a>
            {% endif %}
        
            <hr class="border-light">
            <h4>Answers</h4>
            {% for answer in answers %}
                <div class="border p-3 mb-2">
                    <p>{{ answer.body }}</p>
                    <small>By {{ answer.user.username }}</small><br>
                    <div class="d-flex gap-2 mt-1">
                        <a href="{% url 'quora:like_unlike_answer' answer.pk %}" 
                           class="btn btn-sm {% if user in answer.likes.all %}disabled{% endif %}" 
                           style="box-shadow: none; outline: none;">
                            👍
                        </a>
                    
                        <a href="{% url 'quora:like_unlike_answer' answer.pk %}" 
                           class="btn btn-sm {% if user not in answer.likes.all %}disabled{% endif %}" 
                           style="box-shadow: none; outline: none;">
                            👎
                        </a>
                    
                        <span class="text-white ms-2">Likes: {{ answer.total_likes }}</span>
                    </div>
                    
                    {% if user == answer.user %}
                        <a href="{% url 'quora:delete_answer' answer.pk %}" class="text-danger" title="Delete Answer">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    {% endif %}
                </div>
               
            {% empty %}
                <p>No answers yet.</p>
            {% endfor %}
            <a href="{% url 'quora:answer_question' question.pk %}" class="btn btn-danger mt-3">Answer This Question</a>
        </div>
        
    </div>
</div>

{% endblock %}


